header {
  text-align: center;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  opacity: 0.6;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.cards {
  min-height: 200px;
  min-width: 400px;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
}

.cards:hover {
  opacity: 0.6;
}

ul.menu {
  list-style: none;
}

li.menu-item {
  display: inline-block;
  padding-right: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}

.fa:hover {
  opacity: 0.6;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}