body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:gray;
  color: white;
}

.main-article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color:white;
}

a:hover {
  opacity: 0.6;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards {
  min-height: 300px;
  border-style: outset;
  border-width: 1px;
  width: 1000px;
  margin: 10px;
  color: white;
  background-image: radial-gradient(rgb(167, 220, 171), rgb(13, 124, 28));
}

@media (max-width: 800px) {
  .flex-container {
    width: 95%;
  }
  .cards {
    width: 95%;
  }
}

.cards:hover {
  opacity: 0.6;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

figure {
  width: 180px;
  margin-right: 10px;
  margin-bottom: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure img {
  width: 180px;
  height: 150px;
  object-fit: cover;
}

figcaption {
  text-align: center;
  width: 180px;
}

ul.menu {
  list-style: none;
}

li.menu-item {
  display: inline-block;
  padding-right: 10px;
}