body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:white;
  color: black;
}

.logo {
  float: left;
}

h4 {
  padding: 5px;
}

.main-article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color:white;
}

a:hover {
  opacity: 0.6;
}

.contact-page-email {
  color: black;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards {
  height: 300px;
  border-style: outset;
  border-width: 0px;
  width: 1000px;
  margin: 10px;
  color:black;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("../lecturing-images/wa0026.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media (max-width: 800px) {
  .flex-container {
    width: 95%;
  }
  .cards {
    width: 95%;
  }
  .menu {
    display:grid;
  }
}

.cards:hover {
  opacity: 0.6;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px;
}

figure {
  width: 180px;
  margin-right: 10px;
  margin-bottom: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure img {
  width: 180px;
  height: 150px;
  object-fit: cover;
}

figcaption {
  text-align: center;
  width: 180px;
  color: black;
  height: 35px;
}

ul.menu {
  list-style: none;
}

li.menu-item {
  display: inline-block;
  padding-right: 10px;
  color:white;
}

.no-hover:hover {
  opacity: 1;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.6;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.top-header {
  margin-left: 35px;
}

.main-header {
  text-align: center;
}

header {
  padding: 30px;
  background-color: gray;
  color: white;
}

a {
  text-decoration: none;
  color:white;
}

a:hover {
  opacity: 0.6;
} 

.fa {
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.6;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

footer {
  padding: 50px;
  background-color: gray;
  color: white;
}

.visible-links {
  color:rgb(88, 88, 211);
}